@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --subtle: #4e4e55;
  --primary: #6b26ff;
  --btn-primary: #6717de;
  --muted: #6f6f77;
  --danger: #d42422;
  --hint: rgba(39, 39, 42, 0.3);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-subtle: var(--subtle);
  --color-primary: var(--primary);
  --color-btn-primary: var(--btn-primary);
  --color-danger: var(--danger);
  --color-muted: var(--muted);
  --color-hint: var(--hint);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --font-bagel: "Bagel Fat One";
  --font-rocoleta: "Recoleta";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: inter, Helvetica, sans-serif;
}
